@import '/src/styles/variables.scss';

.lista {
    color: $purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.create {
    display: flex;
    margin-left: 62.5%;
    margin-top: 5px;
}