<footer class="footer">
  <section class="footer-container">
    <div class="footer-left">
      <a href="#" class="footer-logo">
        <img src="/assets/logo.png" alt="logo Emazon" />
      </a>
    </div>

    <nav class="footer-menu">
      <ul>
        <li><a [routerLink]="['/']">¡Emazon</a></li>
        <li><a [routerLink]="['/categorias']">Categorias</a></li>
        <li><a [routerLink]="['/marcas']">Marcas</a></li>
        <li><a [routerLink]="['/articulos']">Articulos</a></li>
        <li><a [routerLink]="['/auxbodega']">Registro</a></li>
      </ul>
    </nav>

    <section class="footer-info">
      <address class="footer-contact">
        <p>+57 311 277 1310</p>
        <p>Lun - Vie 9:00 - 18:00</p>
        <p>Tame, Arauca</p>
        <p>Colombia</p>
        <p><a href="mailto:jesuspabon791&#64;gmail.com">jesuspabon791&#64;gmail.com</a></p>

        <div class="footer-icons">
          <a href="#"><i class="fa fa-vk"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </address>
    </section>
  </section>

  <div class="footer-privacy">
    <p>&copy; 2021-2024 Company name. All rights reserved</p>
    <a href="#">Privacy Policy</a>
  </div>
</footer>
