@import '/src/styles/variables.scss';

.footer {
  width: 100%;
  background-color: $black;
  color: $white;
  padding: 2px;
  position: relative;

  .footer-container {
    display: flex;
    padding: 1px 50px;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      padding: 15px;
    }
  }

  .footer-left {
    flex: 1;

    img {
      width: 70px;

      @media (max-width: 768px) {
        width: 40px;
      }
    }
  }

  .footer-menu {
    flex: 2;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0;

        a {
          color: $white;
          text-decoration: none;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }

  .footer-right {
    text-align: right;
    display: flex;
    align-items: flex-end;
  }

  .footer-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    transform: translateX(-20px);
  }

  .footer-contact {
    text-align: right;
    color: $disabled;

    p {
      margin: 10px 0;
      line-height: 1.4; 

      &:first-child {
        font-size: 19px; 
        font-weight: bold;
        color: $white;
      }

      &:nth-child(2) {
        font-size: 14px; 
        color: $disabled;
        margin-top: 1px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        font-size: 14px;
        color: $white;
      }

      &:nth-child(5) a {
        font-size: 16px;
        color: $white;
        font-style: italic; 
        text-decoration: underline; 
      }
    }

    .footer-icons {
      margin-top: 10px;
      display: flex;
      gap: 10px; 
    }

    .footer-contact p:nth-child(5) {
      margin-bottom: 0px; 
    }
  }

  .footer-privacy {
    display: flex;
    padding-top: 6px;
    height: 30px;
    border-top: 1px solid #444;
    width: 100%;
    font-size: 14px;
    position: relative;

    p {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      color: $white;
    }

    a {
      position: absolute;
      left: 90%;
      transform: translateX(-120%);
      margin: 0;
      color: $white;
      text-decoration: underline;
      text-decoration-color: $white;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 8px;
      }
    }

    @media (max-width: 768px) {
      border-top: 1px solid #666;
      font-size: 8px;
    }
  }
}
