@import '/src/styles/variables.scss';

.footer {
  width: 100%;
  background-color: $black;
  color: $white;
  padding: 2px;
  position: relative;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;

    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      padding: 15px;
    }
  }

  .footer-left {
    flex: 1;

    img {
      width: 70px;

      @media (max-width: 768px) {
        width: 40px;
      }
    }
  }

  .footer-menu {
    flex: 2;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0;

        a {
          color: $white;
          text-decoration: none;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    @media (max-width: 768px) {
      order: 1;
    }
  }

  .footer-info {
    flex: 1;
    text-align: right;

    @media (max-width: 768px) {
      order: 2;
      text-align: right;
    }

    .footer-contact {
      color: $disabled;

      p {
        margin: 10px 0;
        line-height: 1.4;
        color: $white;

        &:first-child {
          font-size: 19px;
          font-weight: bold;
        }

        &:nth-child(2) {
          font-size: 14px;
          color: $disabled;
          margin-top: 1px;
        }

        &:nth-child(3),
        &:nth-child(4) {
          font-size: 14px;
        }

        &:nth-child(5) a {
          font-size: 14px;
          color: $white;
          font-style: italic;
          text-decoration: underline;
        }
      }

      .footer-icons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
      }
    }
  }

  .footer-privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    height: 30px;
    border-top: 1px solid #444;
    font-size: 14px;

    p,
    a {
      margin: 0;
      color: $white;
      text-align: center;
    }

    p {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    a {
      position: absolute;
      left: 90%;
      transform: translateX(-120%);
      text-decoration: underline;

      @media (max-width: 768px) {
        font-size: 8px;
      }
    }

    @media (max-width: 768px) {
      border-top: 1px solid #666;
      font-size: 8px;
    }
  }

  .contact-link {
    color: $white;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $purple;
    }
  }
}
