<footer class="footer">
  <section class="footer-container">
    <div class="footer-left">
      <a [routerLink]="['/home']" class="footer-logo">
        <img src="/assets/logo.png" alt="logo Emazon" />
      </a>
    </div>

    <nav class="footer-menu">
      <ul>
        <li><a [routerLink]="['/home']">¡Emazon</a></li>
        <li><a [routerLink]="['/categorias']">Categorias</a></li>
        <li><a [routerLink]="['/marcas']">Marcas</a></li>
        <li><a [routerLink]="['/articulos']">Articulos</a></li>
      </ul>
    </nav>

    <section class="footer-info">
      <address class="footer-contact">
        <p><a href="https://wa.me/5564992572433" target="_blank" class="contact-link">+55 64 99257 2433</a></p>
        <p>Lun - Vie 9:00 - 18:00</p>
        <p>Tame, Arauca</p>
        <p>Colombia</p>
        <p><a href="mailto:jesuspabon791&#64;gmail.com" class="contact-link">jesuspabon791&#64;gmail.com</a></p>
      </address>
    </section>
  </section>

  <div class="footer-privacy">
    <p>&copy; 2021-2024 Company name. All rights reserved</p>
    <a href="https://www.pragma.co/es/somos-pragma" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
  </div>
</footer>
