.table-container {
  margin: 30px auto;
  width: 100%;
  max-width: 1000px;
}

.table {
  width: 100%;
  table-layout: fixed; 
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  border: 0.5px solid #e5e0eb;
  text-align: left;
  overflow-wrap: break-word; 
}

