.table-container {
  margin: auto;
  width: 100%;
  max-width: 1240px;  
  max-height: 300px;   
  overflow-y: auto;   
}

.app-table {
  width: auto; 
  max-width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: auto; 
}

.table {
  width: 100%;
  table-layout: fixed;  
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #e5e0eb;
  text-align: left;
  overflow-wrap: break-word;  
}

.table th {
  background-color: #edeef2;
  position: sticky;
  top: 0;
}

.table tr:hover {
  background-color: #AE60EB;
}
