@import '/src/styles/variables.scss';

.no-navbar .navbar {
    display: none;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    padding: 0 20px;
    box-shadow: 0 4px 6px $spacer-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    height: 70px;
    margin: 0;
    box-sizing: border-box;
}

.navbar.hide {
    transform: translateY(-100%);
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 55px;
    height: auto;
    border-radius: 50%;
    border: 2px solid $white;
    margin: 0;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $black;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a{
        text-decoration: none;
        color: $black;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.3s;

        &:hover {
            color: $purple;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
            margin-right: 20px; 
        }
    }
}

@media (max-width: $tablet) {
    .navbar {
        width: 100%;
        padding: 2px;
        height: 70px;
    }

    .logo img {
        width: 50px;
        height: auto;
    }
}