<nav class="navbar">
    <div class="navbar-left">
      <a [routerLink]="['/home']" class="logo">
        <img src="/assets/logo.png" alt="logo Emazon" />
      </a>
      <a [routerLink]="['/']" class="navbar-title">Emazon</a>
    </div>
  
    <nav class="navbar-menu" [class.show]="menuOpen">
      <ul>
        <li class="a"><a [routerLink]="['/home']">¡Emazon</a></li>
        <li class="b"><a [routerLink]="['/categorias']">Categorias</a></li>
        <li class="c"><a [routerLink]="['/marcas']">Marcas</a></li>
        <li class="d"><a [routerLink]="['/articulos']">Articulos</a></li>
        <li class="e"><a [routerLink]="['/auxbodega']">Registro</a></li>
      </ul>
    </nav>
  
  </nav>