@import '/src/styles/variables.scss';
@import '/src/styles/button.scss';

.create-category, .category-list {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.create-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.category-list input[type="number"], 
input[type="text"], textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
  font-size: 14px;
  width: 100%;
}

.category-list input[type="number"] {
  padding: 5px;
  width: 120px;
  font-size: 20px;
  text-align: center;
}

.table-container {
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 70%;
  display: inline-block;
  margin-right: 10px;
}

.success {
  background-color:#00B998;
}

.error {
  background-color: #D51A52;
}
