<div class="create-category">
  <h2>Crear categoría</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
    <div>
      <label for="name">Nombre:</label>
      <input id="name" type="text" formControlName="name" required>
      <div *ngIf="categoryForm?.get('name')?.invalid && categoryForm?.get('name')?.touched">
        <small *ngIf="categoryForm?.get('name')?.hasError('required')">El nombre es requerido.</small>
        <small *ngIf="categoryForm?.get('name')?.hasError('maxlength')">El nombre no debe exceder los 50 caracteres.</small>
      </div>
    </div>
    
    <div>
      <label for="description">Descripción:</label>
      <textarea id="description" formControlName="description" required></textarea>
      <div class="required_description" *ngIf="categoryForm?.get('description')?.invalid && categoryForm?.get('description')?.touched">
        <small *ngIf="categoryForm?.get('description')?.hasError('required')">La descripción es requerida.</small>
        <small *ngIf="categoryForm?.get('description')?.hasError('maxlength')">La descripción no debe exceder los 120 caracteres.</small>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" [disabled]="categoryForm.invalid">Guardar categoría</button>

      <div *ngIf="status === 'success'" class="status">
        <span class="dot success"></span>
        <span class="status-message">Categoría guardada con éxito.</span>
      </div>
      <div *ngIf="status === 'error'" class="status">
        <span class="dot error"></span>
        <span class="status-message">{{ errorMessage }}</span>
      </div>
    </div>
  </form>
</div>

<div class="category-list">
  <h2>Lista de Categorias</h2>

  <label for="size">Mostrar por página:</label>
  <input id="size" type="number" [(ngModel)]="size" (change)="updatePageSize()" min="1" placeholder="Número de elementos por página">

  <label for="name">Buscar por nombre:</label>
  <button (click)="toggleSort()">
    {{ sortDirection === 'ASC' ? 'Ascendente' : 'Descendente' }}
  </button>

  <button (click)="searchByName()">Buscar</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.categoryId }}</td>
        <td>{{ category.categoryName }}</td>
        <td>{{ category.categoryDescription }}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination 
    [page]="page" 
    [totalPages]="totalPages" 
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
