
<div class="home-container">
    <div class="home-box">
        <h1>¡Bienvenido a Emazon!</h1>
        <p>Aquí encontrarás los mejores productos y todo lo que necesitas al mejor precio.</p>
        <div class="button-url">
            <button [routerLink]="['/categorias']">Ir a Categorías</button>
            <button [routerLink]="['/marcas']">Ir a Marcas</button>
            <button [routerLink]="['/articulos']">Ir a articulos</button>
            <button *ngIf="roleService.isComponentVisible('registroForm')"  [routerLink]="['/auxbodega']">Registro</button>
           
        </div>
    </div>
</div>