@import '/src/styles/variables.scss';
@import '/src/styles/button.scss';

.create-brand {
    max-width: 340px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid $border;
    border-radius: 8px;
    background-color: $bg-light-grey;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: $purple;
}

input,
textarea {
    width: 100%;
    max-width: 390px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $border;
    font-size: 1rem;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 10px;

    &:focus {
        border-color: $purple;
        outline: none;
    }
}

.label {
    font-weight: bold;
    color: $black;
    margin-bottom: 5px;
}

.error-message {
    min-height: 20px;
    color: $error;
}

.textarea-container textarea {
    min-width: 200px;
    max-width: 300px;
    max-height: 200px;
    width: 100%;
    padding: 10px;
    resize: vertical;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #e1dfe2;
    margin: 1% auto;
    padding: 2px;
    border: 1px solid #aba7af;
    width: 30%;
    max-width: 300px;
}
