<div class="password-field">
    <label for="password">{{ label }}</label>

    <div class="input-container">
        <input id="password" [type]="isPasswordVisible ? 'text' : 'password'" [formControl]="control!" required />

        <button type="button" (click)="togglePasswordVisibility()" class="visibility-toggle">
            <img *ngIf="isPasswordVisible"
                src="https://ingreso.pragma.com.co/static/media/showPasswordIcon.86b14ca3cff6c144d658a1739e5e7fc1.svg"
                alt="Ocultar contraseña" class="icon" />
            <img *ngIf="!isPasswordVisible"
                src="https://ingreso.pragma.com.co/static/media/hidePasswordIcon.57f4593466b48151c75c5b8f88b55c70.svg"
                alt="Mostrar contraseña" class="icon" />
        </button>
    </div>

</div>