<div class="register-container">
  <h2>Registrar Usuario</h2>

  <form [formGroup]="registerForm" (ngSubmit)="saveCustomer()">

    <label for="name">Nombre</label>
    <input type="text" id="name" formControlName="name">
    <app-error-message class="error-message" [control]="registerForm.get('name')"
      requiredMessage="El nombre es requerido."
      maxLengthMessage="El nombre no debe exceder los 50 caracteres."></app-error-message>

    <label for="lastName">Apellido</label>
    <input type="text" id="lastName" formControlName="lastName">
    <app-error-message class="error-message" [control]="registerForm.get('lastName')"
      requiredMessage="El apellido es requerido."
      maxLengthMessage="El apellido no puede exeder los 50 catacteres"></app-error-message>

    <label for="password">Contraseña</label>
    <input type="" id="password" formControlName="password">
    <app-error-message class="error-message" [control]="registerForm.get('password')"
      requiredMessage="Mínimo 8 caracteres, con mayúscula, minúscula, número y símbolo."
      patternMessage="Contraseña con mayúscula, minúscula, número y símbolo."></app-error-message>

    <label for="email">Correo electrónico</label>
    <input type="email" id="email" formControlName="email">
    <app-error-message class="error-message" [control]="registerForm.get('email')"
      requiredMessage="El correo electrónico es requerido."
      patternMessage="Correo electrónico inválido."></app-error-message>

    <label for="idDocument">Documento de Identidad</label>
    <input type="tel" id="idDocument" formControlName="idDocument" (keypress)="validateNumberInput($event)">
    <app-error-message class="error-message" [control]="registerForm.get('idDocument')"
      requiredMessage="El documento de identidad es obligatorio y debe ser numérico."
      patternMessage="El documento deve tener entre 7 y 12 digitos."></app-error-message>

    <label for="phone">Teléfono</label>
    <input type="tel" id="phone" formControlName="phone" (keypress)="allowOnlyNumbers($event)">
    <app-error-message class="error-message" [control]="registerForm.get('phone')"
      requiredMessage="El teléfono es requerido."></app-error-message>

    <label for="birthdate">Fecha de nacimiento</label>
    <input type="date" id="birthdate" formControlName="birthdate">
    <app-error-message class="error-message" [control]="registerForm.get('birthdate')"
      requiredMessage="Debes ser mayor de 18 años."></app-error-message>

    <app-button [buttonForm]="registerForm" [isDisabled]="false" [label]="'Registrar'" [status]="status"
      [errorMessage]="messageError"></app-button>

    <div>
      ¿Ya tienes cuenta?
      <button type="button" class="link-button">
        <a (click)="goToLogin()" class="highlight">Inicia sesión</a>
      </button>
    </div>
  </form>
</div>