@import '/src/styles/variables.scss';

.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $border;
  border-radius: 8px;
  background-color: $bg-light-grey;

  h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: $purple;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      font-weight: bold;
      color: $black;
      margin-bottom: -11px;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $border;
      background-color: $white;
      font-size: 1rem;
      margin-bottom: -2px;
      box-sizing: border-box;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $purple;
        outline: none;
      }
    }

  }
}

.label {
  font-weight: bold;
  color: $black;
  margin-bottom: -11px;
  margin-top: -1px;
}

.error-message {
  min-height: 20px;
  color: $error;
  font-size: 0.95rem;
  text-align: left;
}

.error-message-modal {
  min-height: 20px;
  color: $error;
  font-size: 1rem;
  margin-top: 10px;
  text-align: left;

  &::before {
    content: "•";
    color: $error;
    font-size: 1.5rem;
    margin-right: 5px;
    vertical-align: middle;
  }
}

@media (max-width: 768px) {
  .register-container {
    max-width: 100%;
    padding: 10px;
    margin: 0 10px;
  }
}

.link-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.link-button .highlight {
  text-decoration: none;
  font-weight: bold;
}

.link-button .highlight:hover {
  text-decoration: underline;
}