@import '/src/styles/variables.scss';
@import '/src/styles/button.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 0;
}

.search-bar {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid $spacer-light;
  outline: none;
  transition: border-color 0.3s ease;
}

::placeholder {
  color: $hint-text;
}

:focus {
  border-color: $purple;
  outline: none;
}

:disabled {
  background-color: $disabled;
  color: $hint-text;
  border-color: $disabled;
  cursor: not-allowed;
}

.cart-badge {
  position: absolute;
  top: -12px;
  right: 50px;
  background-color: $black;
  color: $white;
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 2px 6px;
}

.app-content {
  margin-top: 70px;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: $tablet) {
  .navbar {
    width: 100%;
    padding: 2px;
    height: 70px;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .app-content {
    padding-top: 80px;
  }

  .logo img {
    width: 50px;
    height: auto;
  }
}

@media (max-width: $phone) {
  .search-bar,
  .button-container button,
  .category-list button {
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }

  .category-list input[type="number"],
  input[type="text"],
  textarea {
    font-size: 12px;
    padding: 8px;
    width: 55%;
  }

  .table-container {
    overflow-x: auto;
  }

  .table {
    min-width: 600px;
  }
}
