<nav class="navbar">
    <div class="navbar-left">
      <div class="logo">
        <img src="/assets/logo.png" alt="logo emazon" />
      </div>
      <span class="navbar-title">Emazon</span>
    </div>
  
    <div class="navbar-center">
      <input type="text" class="search-bar" placeholder="Search here..." />
      <button class="search-button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  
    <div class="navbar-right">
      <div class="navbar-icon">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-badge">perfil</span>
      </div>
    </div>
</nav>

<app-category></app-category>