<header>
  <nav class="navbar">
    <div class="navbar-left">
      <div class="logo">
        <img src="/assets/logo 2.png" alt="logo Emazon" />
      </div>
      <span class="navbar-title">Emazon</span>
    </div>

    <div class="navbar-center">
      <input type="text" class="search-bar" placeholder="Search here..." aria-label="Search bar" />
      <button class="search-button" aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>

    <div class="navbar-right">
      <a href="/profile" class="navbar-icon" aria-label="Profile">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-badge">Perfil</span>
      </a>
    </div>
  </nav>
</header>

<div class="app-content">
  <app-category></app-category>
</div>