@import '/src/styles/variables.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 96%;
  background-color: #f8f9fa;
  padding: 2px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.navbar.hide {
  transform: translateY(-100%);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 70px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-bar {
  width: 300px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid $spacer-light;
  outline: none;
  transition: border-color 0.3s ease;
}

::placeholder {
  color: $hint-text;
}

:focus {
  border-color: $purple;
  outline: none;
}

:not(:placeholder-shown) {
  border-color: $purple;
}

:disabled {
  background-color: $disabled;
  color: $hint-text;
  border-color: $disabled;
  cursor: not-allowed;
}

.search-button {
  background: none;
  border: none;
  margin-left: -35px;
  cursor: pointer;
}

.search-button i {
  font-size: 1rem;
  color: #888;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -12px;
  right: 28px;
  background-color: #050505;
  color: white;
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 2px 6px;
}

.app-content {
  padding-top: 56px; 
}

@media (max-width: 768px) {
  .navbar {
    width: 98%; 
    padding: 2px;
  }

  .search-bar {
    width: 100%; 
    margin-bottom: 10px;
  }

  .logo img {
    width: 50px; 
    height: auto;
  }
}

@media (max-width: 480px) {
  .button-container button, 
  .category-list button {
    font-size: 14px;
    padding: 10px;
    width: 100%; 
  }

  .category-list input[type="number"],
  input[type="text"],
  textarea {
    font-size: 12px; 
    padding: 8px;
    width: 55%;
  }

  .table-container {
    overflow-x: auto; 
  }

  .table {
    min-width: 600px; 
  }
}
