<div class="overlay">
  <div class="content stock-update-container">
    <h2>Actualizar Stock</h2>
    <form [formGroup]="stockForm" (ngSubmit)="updateStock()">

      <div class="form-group">
        <label for="articleId">ID del Artículo:</label>
        <input id="articleId" type="text" class="form-control" formControlName="articleId" [value]="articleId"
          [readonly]="allowEdit" required />

        <div class="error-message">
          <app-error-message [control]="stockForm.get('articleId')" requiredMessage="El ID del artículo es requerido."
            minMessage="El ID debe ser al menos 1.">
          </app-error-message>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Nombre:</label>
        <input id="name" type="text" class="form-control" formControlName="name" [value]="articleName"
          [readonly]="allowEdit" required />
        <div class="error-message">
          <app-error-message [control]="stockForm.get('name')" requiredMessage="El nombre es requerido."
            maxLengthMessage="El nombre no debe exceder los 50 caracteres.">
          </app-error-message>
        </div>
      </div>

      <div class="form-group">
        <label for="quantity">Cantidad:</label>
        <input id="quantity" type="number" class="form-control" formControlName="quantity" min="1" required />
        <div class="error-message">
          <app-error-message [control]="stockForm.get('quantity')" requiredMessage="La cantidad es requerida."
            minMessage="La cantidad debe ser al menos 1.">
          </app-error-message>
        </div>
      </div>

      <div class="form-group">
        <label for="status">Estado:</label>
        <select id="status" class="form-control" formControlName="status" required>
          <option value="nuevo">Nuevo</option>
          <option value="usado">Usado</option>
        </select>
      </div>

      <app-button [buttonForm]="stockForm" [isDisabled]="false" [label]="'Actualizar Stock'" [status]="responseMessage">
      </app-button>

    </form>
  </div>
</div>