@import '/src/styles/variables.scss';
@import '/src/styles/button.scss';

.article-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.article-list input,
.article-list select {
  padding: 6px;
  font-size: 16px;
  border: 1px solid $border;
  border-radius: 8px;
  width: 120px;
  text-align: center;

  &:focus {
    border-color: $purple;
    outline: none;
  }
}

.button-container {
  height: 30px;
}

.table-background {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #f5f3f7;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #aba7af;
  width: 30%;
  max-width: 300px;
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}